.DataGrip*
.ICEauthority
.Xauthority
.apport-ignore.xml
.bash*
.boto
.dmrc
.fzf.bash
.fzf
.gitconfig
.httpie
.mozilla
.pki
.java
.local
.profile
.pulse-cookie
.steam*
.ssh
.sudo*
.thunderbird
.vim/
.viminfo
.vscode
.wget-hsts
.xsession*
Audiobooks
Desktop
Documents
Downloads
Pictures
Programs
Tools
authorized_keys
snap
.config
.cache
.gnome
gocode
.nv
react
